@import "SecondLine.css";
@import "ThirdLine.css";
@import "FourthLine.css";

.business-image-container.stub {
  & .business-image {
    &.four {
      width: 900px;
    }
    &.five {
      width: 400px;
    }
    overflow: hidden;
    & img {
      transform: scale(1.25);
      opacity: 0.75;
      filter: blur(3px);
      filter: grayscale(0.35);
    }
  }
}

.business-image-container {
  display: flex;
  justify-content: center;
  min-width: 1144px;
}

div.business-image {
  position: relative;
}

div.business-image:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, transparent 70%, black 100%);
}

div.business-image img {
  filter: brightness(60%);
  object-fit: cover;
  position: center;
  height: 600px;
  position: relative;
  aspect-ratio: auto;
  max-width: 1000px;
}

#business-title-card {
  position: relative;
  top: -280px;
  left: 20px;
  width: 1000px;
  display: flex;
  flex-direction: column;
  padding-left: 4em;
  font-family: Rubik, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;

  &.stub {
    top: -360px;
    left: 0;
    align-items: center;
    width: 100%;
    padding: 0;
    & h2 {
      font-size: 50px;
      background: rgba(0, 0, 0, 0.3);
      padding: 10px;
      border-radius: 5px;
    }
  }
}

#business-title-card h1 {
  font-size: 70px;
  font-weight: 700;
  padding-bottom: 4px;
}
