@import "SecondLine.css";
@import "ThirdLine.css";
@import "FourthLine.css";

#business-show-container.full {
  .title-card-container {
    .title-card-content-container {
      #business-title-card {
        .spacer {
          height: 260px;
        }
      }
    }
  }
}

#business-show-container.stub {
  & .title-card-container {
    & .title-card-content-container {
      position: absolute;
      display: flex;
      height: 600px;
      align-items: center;
      justify-content: center;
      width: 100vw;

      & #business-title-card {
        /* margin: 0 0 0 70px;
        padding: 0; */
        margin-left: 70px;
        position: static;
        align-items: flex-start;
        width: 100vw;

        .spacer {
          height: 160px;
        }
        & .biz-info-container {
          background: rgba(0, 0, 0, 0.5);
          border-radius: 5px;
          padding: 17px;

          & h1 {
            /* margin-left: 70px; */
            font-weight: 400;
            font-size: 60px;
          }
        }

        & .stub-message {
          /* position: absolute; */
          /* height: 300px; */
          margin-top: 1.7em;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          width: 100vw;
          & .h2-container {
            background: rgba(231, 231, 231, 0.8);
            display: flex;
            width: max-content;
            /* margin-left: 70px; */
            border-radius: 9px;
            padding: 20px;
            gap: 20px;

            & h2 {
              font-size: 25px;
              width: max-content;
              color: black;
            }
          }
        }
      }
    }
  }
}

.business-image-container.stub {
  & .business-image {
    &.four {
      width: 900px;
    }
    &.five {
      width: 400px;
    }
    overflow: hidden;
    & img {
      transform: scale(1.25);
      opacity: 0.75;
      filter: blur(3px);
      filter: grayscale(0.35);
    }
  }
}

.business-image-container {
  display: flex;
  justify-content: center;
  min-width: 1144px;
}

div.business-image {
  position: relative;
}

div.business-image:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, transparent 70%, black 100%);
}

div.business-image img {
  filter: brightness(60%);
  object-fit: cover;
  position: center;
  height: 600px;
  position: relative;
  aspect-ratio: auto;
  max-width: 1000px;
}

#title-card-content-container {
  /* z-index: 2; */
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 600px;
}

#business-title-card {
  z-index: 1;
  position: absolute;
  margin-top: 50px;
  width: 1000px;
  display: flex;
  flex-direction: column;
  padding-left: 4em;
  font-family: Rubik, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;

  &.stub {
    top: -360px;
    left: 0;
    align-items: center;
    width: 100%;
    padding: 0;
    & h2 {
      font-size: 50px;
      background: rgba(0, 0, 0, 0.3);
      padding: 10px;
      border-radius: 5px;
    }
  }
}

#business-title-card h1 {
  font-size: 70px;
  font-weight: 700;
  padding-bottom: 4px;
}
