div.star-box {
  padding-top: 12px;
  font-size: 30px;
  display: flex;
  gap: 5px;
}

div.star-box div {
  text-align: center;
  padding: 0px 10px;

  font-size: 60px;
  display: flex;
  background-color: orange;
  vertical-align: sub;
  position: relative;
  border-radius: 10px;
}

div.star-box div.box-4 {
  background: grey;
  opacity: 85%;
}

div.star-box div.box-5 {
  background: grey;
  opacity: 85%;
}

div.star-box span {
  font-weight: 600;
  position: relative;
  top: -10%;
  margin: -12px -3px -8px;
}

div.star-box div.half-star {
  background: linear-gradient(to right, orange, grey);
}

#ratings-reviews {
  /* position: relative; */
  display: flex;
  align-items: center;
}

#ratings-reviews .review-count {
  margin: 0.6em 0 0 0.85em;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0.05rem;
  cursor: pointer;
  /* top: 10px;
  position: relative; */
  /* display: flex;
  align-items: center; */
}

/* #ratings-reviews.review-count p {
  top: 10px;
  position: relative;
  margin-top: 10px;
  padding-top: 10px;
  vertical-align: center;
  font-size: 30px;
} */
