@import "./styles/MainContent/MainContent.css";
@import "./styles/PhotoCard/PhotoCard.css";

#invalid-business-container {
  padding-left: 45px;
  padding-top: 60px;
  display: flex;
}

#invalid-business-container.narrow-size {
  flex-direction: column;
}

/* #invalid-business-container > * { */
/* width: 50%; */
/* flex-shrink: 1;
  flex-grow: 1;
  flex-basis: auto;
  flex: 1; */
/* } */

#invalid-business-container .left-side.full-size {
  width: 30%;
  display: flex;
  flex-direction: column;
}

#invalid-business-container .right-side.full-size {
  width: 60%;
  padding-left: 30px;
}

#invalid-business-container .right-side.narrow-size {
  padding-top: 35px;
}

#invalid-business-container .right-side img {
  padding: 0 30px 0;
  display: block;
  width: 100%;
  /* position: cover; */
}

#invalid-business-container h2 {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 1.1;
}

#invalid-business-container h3 {
  padding-top: 20px;
  font-size: 22px;
  font-weight: 400;
}

#invalid-business-container h3 a {
  font-weight: 500;
}
