#add-business-owner-container {
  font-family: Rubik, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 50px 0 35px;
  margin-left: 4em;
  min-height: 70vh;

  & .prompt {
    padding-bottom: 4px;
    & h2.prompt-title {
      font-size: 35px;
      font-weight: 500;
    }
    & p.prompt-text {
      margin: 25px 0;
      font-size: 20px;
      font-weight: 300;
      color: rgb(94, 94, 94);
    }
  }

  & .business-name-input-form {
    padding-top: 12px;

    & form {
      display: flex;
      flex-direction: column;
    }

    & input {
      height: 45px;
      width: 450px;
      border: 1px solid rgb(188, 188, 188);
      border-radius: 5px;
      padding: 4px 14px;
      font-size: 17.5px;
    }

    & button {
      width: min-content;
      margin-top: 25px;
      border: none;
      font-size: 19px;
      background: #e34234;
      color: white;
      padding: 13px 18px;
      border-radius: 5px;
      font-family: Rubik, "Helvetica Neue", Helvetica, Arial, sans-serif;
      /* font-weight: 500; */
    }
  }

  & .step-two-container {
    & .back-button {
      display: flex;
      gap: 17px;
      width: max-content;
      margin: 0 0 25px;
      font-size: 18px;
      font-weight: 500;
      color: rgb(0, 127, 177);

      font-family: Rubik, "Helvetica Neue", Helvetica, Arial, sans-serif;

      & img {
        height: 19px;
      }
      & p {
        margin-top: 1.7px;
      }
    }
    & .prompt {
      line-height: 1.2;
      & h2.prompt-title {
        font-size: 32px;
      }
      & p {
        margin: 22px 0;
        font-size: 21px;
        font-weight: 300;
        & span {
          font-weight: 500;
        }
      }
    }

    & .phone-number-entry {
      margin-top: 15px;
      border: 1px solid rgb(187, 187, 187);
      height: 56px;
      width: 485px;
      border-radius: 4px;

      display: flex;
      align-items: center;

      & .prefix {
        display: flex;
        justify-content: space-between;

        /* margin: 0 20px; */
        padding: 0 20px;
        /* padding: 20px 0; */

        & p {
          display: flex;
          align-items: center;
        }
        & img {
          object-fit: contain;
          width: 12px;
          /* height: 100%; */
        }

        height: 55%;
        width: 25%;
        border-right: 1px solid rgb(187, 187, 187);
      }
      & .main-number {
        width: 70%;
      }
    }
  }

  & .select-intl-code-menu-container {
    position: absolute;
    /* z-index: 2; */
    background: white;

    height: 400px;
    width: 300px;
    overflow: scroll;

    box-shadow: 0 0 7px 2px rgb(232, 232, 232);
    border-radius: 3px;
    margin: 1px 0 0 3px;
    padding: 20px 15px;
    /* padding: 20px 25px; */

    & ul.select-intl-code-dropdown {
      display: flex;
      flex-direction: column;
      cursor: pointer;

      & li {
        border-radius: 3px;
        &:hover {
          background: rgb(225, 225, 225);
        }

        padding: 12px 0 12px 10px;

        display: flex;
        gap: 20px;

        & h4 {
          display: flex;
          align-items: center;
          font-size: 17px;
        }
      }
    }
  }

  /* .flags-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  } */
}
