.about-text {
  font-size: 20px;
  font-weight: 300;
}

.read-more-button-container {
  display: flex;
}

.about.card-container {
  /* border: none; */
  width: 100%;

  & > * {
    width: 740px;
  }
}
