.content-nav-bar-container {
  padding: 35px 0;
  width: 100%;
  min-width: 870px;
  display: flex;
  justify-content: left;
  gap: 13px;
  margin-left: 70px;
  /* margin-left: 5.3vw; */
  border-bottom: #ccc solid 1px;

  & > div.container {
    height: 50px;
    border: solid #ccc 1px;
    border-radius: 4px;
    padding: 4px 19px;
    font-size: 22px;
    /* width: 100%; */
    white-space: nowrap;
    display: flex;
    /* min-width: 200px; */
  }

  & div.content > div:first-child {
    padding-right: 8px;
  }

  & div.write-review-button.container div > i,
  & div.write-review-button.container h2 {
    color: white;
    background-color: #e34234;
  }

  & div.container div > i,
  & div.container h2 {
    color: black;
    background-color: white;
  }

  & div.write-review-button.content {
    color: #e34234;
  }

  & div.content {
    margin-top: 0.8rem;
    width: 100%;
    display: flex;
    /* white-space: nowrap; */
    padding-top: 1px;
  }
  & div.write-review-button.container {
    background-color: #e34234;
    cursor: pointer;
  }

  & div.button-container {
    cursor: pointer;
  }

  .save-bookmark-button.container {
    margin-right: 50px;
  }
  & div.save-bookmark-button.saved,
  & div.save-bookmark-button.saved * {
    background: #e34234;
  }

  & div.save-bookmark-button.saved h2,
  & div.save-bookmark-button.saved div > i {
    color: white;
  }

  & .edit-business-button {
    width: max-content;
    justify-self: flex-end;
    margin-left: auto;
    margin-right: 180px;
    cursor: pointer;
    background: rgb(147, 147, 255);
    color: white;
    height: 50px;
    border-radius: 4px;
    padding: 4px 19px;
    font-size: 22px;
    display: flex;
    align-items: center;
    gap: 10px;
    &:hover {
      background: rgb(120, 94, 255);
    }

    & h2 {
      width: max-content;
    }
  }
}
