@import "ContentNavBar.css";
@import "MenuCard.css";
@import "Location.css";
@import "Amenities.css";
@import "AboutCard.css";
@import "Reviews.css";

.main-content-container {
  font-family: Rubik, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;

  /* reset height to bottom of photo card */
  top: -216px;
  position: relative;

  & .card-container {
    border-bottom: #ccc solid 1px;
    margin: 0 0 0 4em;
    padding: 2.9em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    color: black;
  }
}

.main-content-container .main-title,
.main-content-container .subtitle {
  width: 1000px;
  font-weight: 600;
}

.main-content-container .main-title {
  font-size: 27px;

  margin-bottom: 20px;
}

.main-content-container .subtitle {
  font-size: 21px;
  margin: 10px 0 20px;
}

#pre-footer-height-reset {
  margin: -230px;
}

#stub-container {
  min-height: 26vh;
  margin: -25px 50px 70px;
  font-size: 25px;
  display: flex;
  align-items: flex-start;
  gap: 15px;

  & .first-line {
    display: flex;
    gap: 20px;
    & h2 {
      border-radius: 4px;
      display: flex;
      align-items: center;
      &.edit-button {
        cursor: pointer;
        padding: 10px;
        color: rgb(58, 58, 58);
        /* background: rgb(212, 248, 225); */
        background: rgb(220, 244, 220);
      }
      &:hover {
        box-shadow: 0 0 3px 2.5px rgb(231, 231, 231);
        /* color: white; */
      }
    }
  }
}
