@import "ContentNavBar.css";
@import "MenuCard.css";
@import "Location.css";
@import "Amenities.css";
@import "AboutCard.css";
@import "Reviews.css";

.main-content-container {
  font-family: Rubik, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;

  /* reset height to bottom of photo card */
  /* top: -216px;
  position: relative; */

  & .card-container {
    border-bottom: #ccc solid 1px;
    margin: 0 0 0 4em;
    padding: 2.9em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    color: black;
  }
}

.main-content-container .main-title,
.main-content-container .subtitle {
  width: 1000px;
  font-weight: 600;
}

.main-content-container .main-title {
  font-size: 27px;

  margin-bottom: 20px;
}

.main-content-container .subtitle {
  font-size: 21px;
  margin: 10px 0 20px;
}

#pre-footer-height-reset {
  margin: -230px;
}

#stub-container {
  position: relative;
  left: 0;
  width: 100%;
  /* top: 5px; */
  /* min-height: 26vh; */
  margin: 7px 0 -5px 0;
  padding-right: 5.3vw;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;

  & .spacer {
    position: relative;
    height: 85 * px;
    /* height: 130px; */
  }

  & .first-line {
    /* background: linear-gradient(
      to right,
      rgb(243, 243, 243),
      rgb(182, 182, 182)
    ); */
    /* background: rgb(245, 245, 245); */
    display: flex;
    gap: 30px;
    padding: 20px 0 0 60px;
    /* border-bottom: solid 1px rgb(202, 202, 202); */
    width: 100%;

    & h2 {
      cursor: default;
      border-radius: 4px;
      display: flex;
      align-items: center;

      & span.grey {
        color: rgb(137, 142, 136);
        margin-left: 20px;
      }

      &.edit-button {
        cursor: pointer;
        padding: 10px;
        color: rgb(58, 58, 58);
        /* background: rgb(212, 248, 225); */
        /* background: rgb(186, 255, 186); */
        /* background: rgb(220, 244, 220); */
        /* color: rgb(243, 243, 243); */
        background: rgb(201, 255, 201);

        /* &:hover { */
        /* box-shadow: 0 0 4px 4px rgb(171, 171, 171); */
        /* } */
      }
    }
  }
}
