#reviews-container {
  /* padding: 2.9em 0; */
  margin-left: 4em;
  border: none;

  & h3 {
    padding: 5px 0;
  }

  & .review-text {
    font-size: 20px;
    font-weight: 300;
    padding: 20px 0;
  }

  & .reviews-title-container {
    font-size: 27px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  /* & div.main-title.review {
    margin: 0 0 20px 0;
  } */

  & .write-review-link {
    font-size: 20px;
    font-weight: 500;
    display: flex;
    gap: 20px;
    align-items: center;
    width: max-content;
    /* width: 800px; */
    /* width: 100%; */

    & div.write-review-icon {
      padding-top: 10px;
    }

    & h3 {
      width: max-content;
      /* width: 500px; */
    }
  }

  & .top-card {
    margin: 20px 0;
    display: flex;
    gap: 15px;
  }

  & .profile-image-container {
    font-size: 50px;
    padding: 0 8px;
    border: solid 1px black;
    border-radius: 100px;
  }

  & .author-name {
    font-size: 20px;
    font-weight: 500;
  }

  &.review-rating {
    padding: 20px 0;
    font-weight: 600;
  }

  & .review-rating span {
    color: orange;
  }

  & .write-review-link {
    cursor: pointer;
  }

  & .overall-ratings-box {
    /* margin-top: 15px; */
    display: flex;
    width: 700px;

    & .left-side {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 8px;
      width: 300px;

      & h4 {
        font-weight: 500;
      }

      & .overall-rating-star-box-container {
        display: flex;
        gap: 5px;
        margin: 1px 0 3px;
        /* padding-top: 12px; */
        /* font-size: 30px; */
        & > div {
          text-align: center;
          padding: 0 10px;
          font-size: 60px;
          display: flex;
          border-radius: 10px;

          /* vertical-align: sub; */
          /* position: relative; */

          /* background: aqua; */
          & > span {
            font-weight: 600;
            position: relative;
            top: -10%;
            margin: -12px -3px -8px;
            color: white;
          }
        }

        & .half-star {
          background: linear-gradient(to right, orange, grey);
        }
      }

      & p {
        color: rgb(109, 109, 109);
      }
    }

    & .right-side {
      width: 400px;
      display: flex;
      justify-content: space-between;
      gap: 20px;

      & .stars-legends-container,
      .rating-bars-container {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }

      & .stars-legends-container {
        & div {
          height: 17px;
          font-size: 15px;
        }
      }

      & .rating-bars-container {
        /* display: flex;
        flex-direction: column;
        gap: 6px; */
        & div {
          margin: 3.5px 0;
          width: 300px;
          height: 10px;
          background: rgb(239, 239, 239);
          border-radius: 10px;
        }
        & .color-bar {
          margin: 0;
          width: 20px;
          height: 100%;
        }
        & .bar-5-star .color-bar {
          background: rgb(230, 0, 0);
        }
        & .bar-4-star .color-bar {
          background: rgb(244, 57, 0);
        }
        & .bar-3-star .color-bar {
          background: rgb(248, 83, 0);
        }
        & .bar-2-star .color-bar {
          background: rgb(248, 137, 0);
        }
        & .bar-1-star .color-bar {
          background: rgb(255, 196, 78);
        }
      }
    }
  }
}

/* OLD WAY */

/* #reviews-container h3 {
  padding: 5px 0;
}

.review-text {
  font-size: 20px;
  font-weight: 300;
  padding: 20px 0;
}

div.main-title.review {
  margin: 0 0 20px 0;
}

#reviews-container .write-review-link {
  font-size: 20px;
  font-weight: 500;
}

#reviews-container .top-card {
  margin: 20px 0;
  display: flex;
  gap: 15px;
}

#reviews-container .profile-image-container {
  font-size: 50px;
  padding: 0 8px;
  border: solid 1px black;
  border-radius: 100px;
}

#reviews-container .author-name {
  font-size: 20px;
  font-weight: 500;
}

.review-rating {
  padding: 20px 0;
  font-weight: 600;
}

.review-rating span {
  color: orange;
}

.write-review-link {
  cursor: pointer;
}
#reviews-container .overall-ratings-box {
  margin-top: 15px;
  display: flex;
}

#reviews-container .overall-ratings-box .left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  width: 300px;
}
 */
