<!DOCTYPE html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv='Content-Type'>
  </head>
  <body>
    <h1>Hi, <%= @recepient.name %>, you have a recommendation from <%= sender.name %> on Yup.</h1>
    <p><a href="/businesses/<%= business.id %>"<%= @business.name %>>
    <p>Thanks and have a great day.<p>
    <p>YUP</p>
  </body>
</html>
