.image-height-reset {
  height: 540px;
}

.business-image img {
  width: 100%;
  /* max-height: 600px; */
  object-fit: cover;
  height: 600px;
  filter: brightness(50%);
}

.image-container {
  position: absolute;
  top: 0;
  width: 100%;
  /* max-height: 600px; */
}

.image-container:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, transparent 60%, black 100%);
}

.section-header {
  font-size: 24px;
  text-align: center;
  font-family: Rubik, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  padding: 15px 0;
}

div#text-block {
  font-family: Rubik, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 30 0 0;
  padding: 10 0 0;
}
