.business-card-container {
  display: flex;
  gap: 20px;
}

.business-photo-container img {
  object-fit: cover;
  height: 225px;
  width: 225px;
  border-radius: 6px;
}

.business-card-container .business-info {
  margin-top: 10px;
}

.business-card-container .business-info p {
  font-size: 23px;
  font-weight: 500;
}

.stars-and-count-container {
  display: flex;
}

div.star-rating .rendered-stars {
  color: rgb(244, 90, 38);
  font-size: 23px;
  margin: 5px 0;
}

div.star-rating .review-count p {
  font-size: 18px;
  color: rgb(85, 84, 84);
  font-weight: 400;
}
