#search-results-container {
  margin-left: 4em;
  font-family: Rubik, "Helvetica Neue", Helvetica, Arial, sans-serif;

  & h2 {
    margin: 10px 0 20px;
  }
}

#search-results-errors {
  font-size: 20px;
}
