#search-results-container,
#search-results-errors {
  font-family: Rubik, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#search-results-container {
  margin-left: 4em;
  & h2 {
    margin: 20px 0;
    font-size: 25px;
  }

  & h3.popular-businesses-prompt {
    font-size: 20px;
  }
}
