span.half-star {
  position: relative;
  display: inline-block;
  color: black;
  overflow: hidden;
  white-space: pre;
}

span.half-star::after {
  content: attr(data-title-text);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  color: gf00;
  clip: rect(0, 0.4504em, 19px, 0);
  /* clip: rect(500px, 500px, 500px, 500px); */
}
