.rendered-stars span.half-star {
  position: relative;
  display: inline-block;
  color: white;
  overflow: hidden;
  white-space: pre;
}

.rendered-stars span.half-star::after {
  content: attr(data-title-text);
  display: block;
  position: absolute;
  top: 0.153985em;
  left: 0;
  color: rgb(244, 90, 38);
  clip: rect(0, 0.4504em, 19px, 0);
}

/*
next: style review star boxes to be solid halves, instead of a fade effect.
*/
