span.half-star {
  position: relative;
  display: inline-block;
  color: white;
  overflow: hidden;
  white-space: pre;
}

span.half-star::after {
  content: attr(data-title-text);
  display: block;
  position: absolute;
  top: 0.153985em;
  left: 0;
  color: rgb(244, 90, 38);
  clip: rect(0, 0.4504em, 19px, 0);
  /* clip: rect(20px, 20px, 0px, 20px); */
  /* clip: rect(500px, 500px, 500px, 500px); */
}

/*
042823
these css stars are janky.
next best idea is making a star and half-star png
*/
