.share-modal-overlay {
  background: rgba(49, 49, 49, 0.8);
}

.share-modal-container,
.share-modal-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.share-modal-container {
  z-index: 1;
}

.share-modal-box {
  position: absolute;
  background: #f9f9f9;
  display: flex;
  border-radius: 10px;
  width: 55em;
  height: 98.5vh;
}

.share-modal-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 7vh 3.5em;
}

.share-modal-line-1 {
  padding-bottom: 5vh;
}

.share-modal-line-1,
.share-modal-line-2,
.share-modal-line-4,
.share-fb,
.share-twitter {
  width: 100%;
  display: flex;
}

.share-modal-line-1,
.share-modal-line-2 {
  justify-content: space-between;
  margin-bottom: 10px;
}

.share-modal-line-2 {
  color: white;
  gap: 0.8em;
  padding-bottom: 2vh;
}

.share-modal-line-3,
.share-modal-line-4 {
  margin-bottom: 3.5vh;
}

.share-modal-line-2 > div {
  padding: 15px 40px;
  gap: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.share-modal-line-2 h3 {
  font-size: 29px;
  font-weight: 400;
}

.fb-logo-container,
.twitter-logo-container {
  font-size: 40px;
  font-weight: 600;
}

.share-fb {
  background: #1878f3;
}

.share-twitter {
  background: #74bcf4;
}

.share-modal-line-3,
.share-to-field-input-container {
  padding: 14px;
  display: flex;
}

input.share-link {
  /* outline: none; */
  /* font-size: 20px; */
  width: inherit;
  /* font-family: Arial; */
  font-family: Rubik, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: inherit;
  border: none;
  /* width: 100%; */
}

.share-link-input-container {
  flex-grow: 1;
}

.share-modal-line-3,
.share-to-field-input-container {
  border: 0.1em solid rgb(189, 189, 189);
  border-radius: 5px;
  /* padding: 14px; */
  justify-content: flex-start;
}

.share-modal-line-3:focus-within,
.share-to-field-input-container:focus-within {
  border: 0.1em solid rgb(58, 104, 221);
}

.link-icon-container img {
  width: 33px;
}
.link-icon-container {
  flex-grow: 0;
}

/* .share-modal-line-2,
.share-fb .share-twitter {
  display: flex;
} */

h2.share-modal-title,
.close-x {
  font-size: 34px;
}
h2.share-modal-title {
  font-weight: 600;
}

.close-x {
  cursor: pointer;
}

.copy-success-div {
  color: red;
  /* transition: color 4s ease-in; */
  position: absolute;
  animation: fadeout 5s;
  -moz-animation: fadeout 5s;
  -webkit-animation: fadeout 5s;
}

@keyframes fadeout {
  from {
    color: red;
  }
  to {
    color: transparent;
  }
}
@-moz-keyframes fadeout {
  from {
    color: red;
  }
  to {
    color: white;
  }
}
@-webkit-keyframes fadeout {
  from {
    color: red;
  }
  to {
    color: white;
  }
}
.share-modal-line-4 {
  justify-content: space-between;
  margin-top: 20px;
}

.share-to-field-input-container:focus-within {
  outline: 1px solid blue;
  /* border */
}
.share-modal-line-4 > div {
  width: 40%;
  margin-top: 0.8em;
  border-top: 1.5px solid rgb(218, 218, 218);
  display: flex;
  align-items: center;
}
.share-modal-line-4 > h4 {
  font-size: 28px;
  color: gray;
}

/* .share-to-field-input-container {
  border: 1.5px solid gray;
} */

.share-to-field-input-container input {
  border: none;
  background: inherit;
}
input:focus {
  outline: none;
}
.share-to-input p.info-text {
  color: rgb(105, 105, 105);
  font-size: 20px;
}

p.info-text {
  padding: 8px;
  font-weight: 300;
}

.share-modal-content input {
  width: 100%;
  font-size: 20px;
}

.share-modal-line-5 {
  margin: 0.5vh 0;
}
