.share-modal-overlay {
  background: rgba(49, 49, 49, 0.8);
}

.share-modal-container,
.share-modal-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.share-modal-container {
  z-index: 1;
}

.share-modal-box {
  position: absolute;
  background: #f1f1f1;
  display: flex;
  border-radius: 10px;
  width: 700px;
  height: 98.5vh;
}

.share-modal-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5vh 4vh;
}

h2.share-modal-title,
.close-x {
  font-size: 30px;
}

.close-x {
  cursor: pointer;
}
