.share-modal-overlay {
  background: rgba(49, 49, 49, 0.8);
}

.share-modal-container,
.share-modal-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.share-modal-container {
  z-index: 1;
}

.share-modal-box {
  position: absolute;
  background: #f1f1f1;
  display: flex;
  border-radius: 10px;
  width: 700px;
  height: 98.5vh;
}

.share-modal-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 7vh 6vh;
}

.share-modal-line-1,
.share-modal-line-2,
.share-fb,
.share-twitter {
  width: 100%;
  display: flex;
}

.share-modal-line-1,
.share-modal-line-2 {
  justify-content: space-between;
  margin-bottom: 10px;
}

.share-modal-line-3 {
  padding: 14px;
  display: flex;
}

input.share-link {
  /* outline: none; */
  font-size: 20px;
  width: inherit;
  /* font-family: Arial; */
  font-family: Rubik, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: inherit;
  border: none;
  width: 100%;
}

.share-link-input-container {
  flex-grow: 1;
}

.share-modal-line-3 {
  border: 0.1em solid rgb(189, 189, 189);
  border-radius: 5px;
  /* padding: 14px; */
  justify-content: flex-start;
}

.link-icon-container img {
  width: 33px;
}
.link-icon-container {
  flex-grow: 0;
}

/* .share-modal-line-2,
.share-fb .share-twitter {
  display: flex;
} */

h2.share-modal-title,
.close-x {
  font-size: 34px;
}
h2.share-modal-title {
  font-weight: 600;
}

.close-x {
  cursor: pointer;
}

.copy-success-div {
  color: red;
  /* transition: color 4s ease-in; */
  position: absolute;
  animation: fadeout 5s;
  -moz-animation: fadeout 5s;
  -webkit-animation: fadeout 5s;
}

@keyframes fadeout {
  from {
    color: red;
  }
  to {
    color: transparent;
  }
}
@-moz-keyframes fadeout {
  from {
    color: red;
  }
  to {
    color: white;
  }
}
@-webkit-keyframes fadeout {
  from {
    color: red;
  }
  to {
    color: white;
  }
}
