#create-review-form-container {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgb(204, 204, 204);
  padding: 2em 0 0 4em;

  font-family: Rubik, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#create-review-form-container .top-line {
  width: 800px;
  /* width: 80vw; */
  padding: 5px 0 30px;
  display: flex;
  justify-content: space-between;
}

#create-review-form-container .top-line h3 {
  font-size: 28.5px;
  font-weight: 600;
}

p.review-guidelines-link {
  color: rgb(0, 119, 152);
  font-size: 17px;
  font-weight: 500;
  display: flex;
  align-items: flex-end;
  padding-bottom: 1px;
  cursor: pointer;
}

.rating-and-review-text-box {
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  height: 375px;
  width: 750px;
  padding: 30px;

  font-weight: 400;
  color: rgb(127, 129, 134);
  cursor: text;
}

.rating-stars-line {
  display: flex;
  justify-content: flex-start;
  gap: 7px;
}

.rating-stars > div.hovered-num-5 {
  background: red;
}

.rating-stars > div {
  display: flex;
  background: gray;
  border-radius: 10px;
  font-size: 60px;
  padding: 0 10px;
  /* vertical-align: sub;
  text-align: center; */
  position: relative;
}

.rating-stars > div.orange {
  background: orange;
}

.rating-stars > div.grey {
  background: grey;
}

.rating-stars span {
  position: relative;
  top: -10%;
  color: white;
  font-weight: 600;
  margin: -12px -3px -8px;
}

.rating-stars-line h4 {
  display: flex;
  align-items: center;
}

.rating-and-review-text-box div.rating-stars {
  display: flex;
  gap: 5px;
  font-size: 30px;
  margin-right: 10px;
  cursor: pointer;
}

.review-prompt-line h5,
.rating-stars-line {
  padding-bottom: 20px;
}

.review-prompt-line .prompt-items {
  display: flex;
  flex-direction: row;
}

.review-prompt-line .prompt-items p {
  background: rgb(241, 240, 240);
  color: rgb(102, 102, 102);
  border-radius: 4px;
  padding: 3px;
  font-size: 14px;
  font-weight: 500;
  margin-right: 7px;
}

textarea#review-body {
  resize: none;
  border: none;
  /* overflow: auto; */
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

input#review-body {
  border: none;
}
