#edit-business-container {
  margin: 20px 5vw;

  & .submit-success {
    height: 70vh;
  }

  & h2 {
    font-size: 30px;
    padding: 10px 0 10px 60px;

    & .bizNameLink {
      /* font-family: "Rubik", "Helvetica Neue", Helvetica, sans-serif;
      font-si */
      font-weight: 500;
      color: rgb(22, 150, 139);
      cursor: pointer;
    }
  }

  & .business-info-form-container {
    height: 76vh;
    margin-bottom: 30px;
    & form {
      margin: 30px 16vw 20px 6vw;
      display: flex;
      flex-direction: column;
      gap: 50px;
      height: 65vh;

      & .input-fields {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: space-between;

        & label {
          width: 30vw;
          min-width: 300px;
          max-width: 800px;
          margin: 5px 30px 10px;
          /* margin: 0 auto; */

          &.closed-at,
          &.open-at {
            width: min-content;
          }

          & input {
            /* margin: 0 5px; */
            border: 1px solid rgb(216, 216, 216);
            border-radius: 3px;
            &:focus {
              box-shadow: 0 0 2px 0.5px grey;
            }
          }

          & input,
          & .price-input-container {
            width: 100%;
            /* width: 20vw; */
            padding: 10px;
            font-size: 20px;
          }

          & .price-input-container {
            font-family: Rubik, "Helvetica Neue", Helvetica, sans-serif;
            font-size: 30px;
            display: flex;
            & .dollar-box {
              cursor: pointer;
              font-weight: 500;
              padding: 0 3px;

              &.hovered {
                color: green;
                /* background: green; */
              }
            }
          }
        }
      }

      & button {
        width: max-content;
        /* margin-top: 30px; */
        height: 50px;
        border-radius: 4px;
        padding: 8px 25px;
        margin-left: 10px;
        font-size: 25px;
        border: none;
        color: white;
        background: rgb(255, 33, 63);
        &:hover {
          box-shadow: 0 0 4px 2px rgb(195, 192, 192);
          /* box-shadow: 0 0 4px 2px rgb(216, 142, 153); */
          /* background: rgb(255, 0, 0); */
          /* box-shadow: 0 0 2px 2px (rgb(255, 33, 63)); */
        }
      }
    }
  }
}
