#edit-business-container {
  margin: 20px 5vw;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  /* max-width: 800px; */

  #confirm-modal-container {
    & .confirm-modal-content {
      & .prompt {
        display: flex;
        flex-direction: column;
        /* gap: 20px; */
        justify-content: center;
        & .confirm-modal-line-1 {
          width: 100%;
          /* margin-bottom: 20px; */
          display: flex;
          justify-content: center;
          & .close-x {
            font-family: Rubik, "Helvetica Neue", Helvetica, sans-serif;
            width: 100%;
          }
          & h2 {
            padding-left: 0;
          }
        }
      }

      & .buttons {
        & h3 {
          &.cancel {
            background: rgb(192, 15, 15);
            border: 3px solid rgb(150, 4, 4);
            &:hover {
              background: rgba(192, 15, 15, 0.6);
              border: 3px solid rgb(193, 101, 65);
            }
          }
          &.confirm {
            background: rgb(0, 213, 114);
            border: 3px solid rgba(0, 185, 99, 0.5);
            &:hover {
              background: rgba(0, 213, 114, 0.6);
              border: 3px solid rgba(0, 185, 99, 0.3);
            }
          }
        }
      }
    }
  }

  & .submit-success {
    height: 70vh;

    & .biz-deleted-prompt {
      & Link h2 {
        color: rgb(22, 150, 139);
        font-weight: 500;
      }
    }

    & h2 {
      font-size: 30px;
      padding: 10px 0 10px 60px;

      & .bizNameLink {
        /* font-family: "Rubik", "Helvetica Neue", Helvetica, sans-serif;
        font-si */
        font-weight: 500;
        color: rgb(22, 150, 139);
        cursor: pointer;
      }
    }
  }

  & .business-info-form-container {
    /* height: 76vh; */
    margin-bottom: 30px;
    /* width: 80vw; */
    & form {
      margin: 30px 20px 20px 10px;
      display: flex;
      flex-direction: column;
      gap: 50px;

      & .input-fields {
        /* height: 65vh; */
        width: 85vw;
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: space-between;

        & label {
          /* width: 30vw; */
          width: 40%;
          /* min-width: 300px; */
          /* max-width: 800px; */
          margin: 5px 30px 10px;
          /* margin: 0 auto; */
          /* flex: 1 1 200px; */

          & h4 {
            margin-bottom: 6px;
            font-size: 16px;
          }

          &.closed-at,
          &.open-at {
            width: min-content;
          }

          & input {
            /* margin: 0 5px; */
            border: 1px solid rgb(216, 216, 216);
            border-radius: 3px;
            &:focus {
              box-shadow: 0 0 2px 0.5px grey;
            }
          }

          & input,
          & .price-input-container {
            width: 100%;
            /* width: 20vw; */
            padding: 10px;
            font-size: 20px;
          }

          & .price-input-container {
            font-family: Rubik, "Helvetica Neue", Helvetica, sans-serif;
            font-size: 30px;
            display: flex;
            & .dollar-box {
              cursor: pointer;
              font-weight: 500;
              padding: 0 3px;

              &.hovered {
                color: green;
                /* background: green; */
              }
            }
          }
        }
      }

      & .button-container {
        display: flex;
        flex-direction: column;
        gap: 25px;
        & button,
        h3 {
          letter-spacing: 0.02rem;
        }

        & .delete {
          width: 150px;
          cursor: pointer;
          margin-left: 10px;
          font-family: "Helvetica Neue", Helvetica, sans-serif;
          /* letter-spacing: 0.04rem; */
          & h3 {
            display: flex;
            justify-content: center;
            width: 100%;
            /* min-width: max-content; */
            /* margin-top: 30px; */
            /* height: 50px; */
            border-radius: 4px;
            padding: 12px 0px;
            font-size: 25px;
            border: none;
            color: white;
            background: rgb(165, 149, 149);
            &:hover {
              background: rgba(191, 19, 42, 0.6);
              box-shadow: 0 0 4px 2px rgb(195, 192, 192);
            }
          }
        }

        & label {
          width: max-content;
          & button {
            width: 150px;
            box-sizing: inherit;
            /* min-width: max-content; */
            /* margin-top: 30px; */
            /* height: 50px; */
            border-radius: 4px;
            padding: 12px 0px;
            margin-left: 10px;
            font-size: 25px;
            border: none;
            color: white;
            background: rgb(234, 30, 11);
            &:hover {
              box-shadow: 0 0 4px 2px rgb(195, 192, 192);
              /* box-shadow: 0 0 4px 2px rgb(216, 142, 153); */
              /* background: rgb(255, 0, 0); */
              /* box-shadow: 0 0 2px 2px (rgb(255, 33, 63)); */
            }
          }
        }
      }
    }
  }
}
