/* #root {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
} */
/* form {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
} */
.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.signup-page-container {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 20px 0 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
  /* align-items: center; */
}

.signup-left,
.signup-right {
  padding: 10px 26px;
  margin: 0 8px;
}

.signup-left {
  padding-top: 15px;
  width: 300px;
}

.signup-right {
  width: 340px;
  padding-top: 80px;
}

.top-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.top-text h2 {
  color: red;
  font-size: 20px;
  font-weight: 700;
}

.top-text h3 {
  font-size: 15px;
  padding: 4px 0 7px;
}

.top-text p {
  font-size: 11px;
  padding: 4px 0 10px;
  line-height: 140%;
}

.top-text a {
  color: #0073bb;
}

input,
#signUpButton {
  width: 100%;
  border-radius: 3px;
}

input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px 7px;
  font-size: 13px;
}

#signUpButton {
  width: 100%;
  color: white;
  background-color: #e34234;
  border-radius: 3px;
  padding: 8px 0;
  text-align: center;
  font-weight: 500;
}

.login-footer {
  text-align: right;
  font-size: 11px;
  padding: 10px 0;
  color: grey;
}

.login-footer a {
  color: #0073bb;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: grey;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: grey;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: grey;
}
