/* #root {
  font-family: Helvetica, Arial, sans-serif;
} */
/* form {
  font-family: Helvetica, Arial, sans-serif;
} */
.signup-form {
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.signup-page-container {
  padding: 20px 0 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
  /* align-items: center; */
}

.signup-left {
  padding-top: 15px;
}

input,
button {
  width: 100%;
  border-radius: 3px;
}

input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px 0 3px 3px;
}

button {
  width: 100%;
  color: white;
  background-color: #e34234;
  border-radius: 3px;
  padding: 8px 0;
  text-align: center;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: grey;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: grey;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: grey;
}
