body {
  font-family: inherit;
}

/* .homeLink img {
  width: 90px; */
/* } */

#logo {
  font-family: "Roboto Mono", Helvetica, Arial, sans-serif;
  font-size: 30px;
}

#logo,
#logo span {
  display: inline-block;
  vertical-align: middle;
}

#logo span {
  font-size: 50px;
  color: red;
  font-weight: 800;
  margin-top: -10px;
}

#nav-bar {
  display: flex;
  width: 80vw;
  justify-content: space-between;
  align-items: center;
  margin: 10px 40px;
}

#header-bar {
  background-color: #e34234;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

#header-bar h1 {
  color: white;
  font-size: 30px;
  font-family: "Roboto Mono", Helvetica, Arial, sans-serif;
}

/* #header-bar h1.yup-logo */

#header-bar h1.star {
  font-size: 60px;
  font-weight: 600;
  margin-bottom: -5px;
}

button,
a {
  cursor: pointer;
}

#session-links {
  display: flex;
  gap: 15px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

#session-links a {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 4px;
  padding: 6px 12px;
}

#form-header-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 10px 0; */
}
