body {
  font-family: inherit;
  /* width: 100%; */
}

#logo {
  font-family: "Roboto Mono", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
  color: white;
}

#logo,
#logo span {
  display: inline-block;
  vertical-align: middle;
}

#logo.business-show {
  color: black;
}

#logo.business-show span.star {
  color: #e34234;
}

#logo span.star {
  font-size: 50px;
  /* color: red; */
  font-weight: 800;
  margin-top: -10px;
}

#nav-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 12px 45px 20px;
  /* margin: 10px 40px; */
  background-color: transparent;
  position: relative;
  z-index: 2;
  /* width: 780px; */
  width: 93%;
  /* opacity: 0; */
  /* min-width: 1020px; */
  min-width: 750px;
}

#nav-bar .right-side {
  display: flex;
  align-items: center;
}

#header-bar .socials {
  display: flex;
  gap: 15px;
  padding: 12px 20px 0;
  align-items: center;
  /* color: blue; */
  /* float: right; */
  left: 2%;
  position: absolute;
}

#nav-bar .socials {
  display: flex;
  gap: 15px;
  padding: 12px 25px 0;
  align-items: center;
  /* color: blue; */
  /* float: right; */
  /* left: 2%;
  position: absolute; */
}

.socials img {
  /* color: black; */
  width: 25px;
}

#header-bar {
  background-color: #e34234;
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

#form-header-logo-container {
  /* width: 100%; */
  /* min-width: 820px; */
  /* text-align: center; */
  display: flex;
  justify-content: center;
}

#header-bar h1 {
  color: white;

  font-family: "Roboto Mono", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  vertical-align: middle;

  padding: 4px 0;
}

#header-bar h1.yup-logo,
#logo {
  font-size: 30px;
  height: 100%;
  /* margin: 10px 0 0 0; */
}

#header-bar h1.star,
#nav-bar span.star {
  font-size: 55px;
  font-weight: 600;
  margin: -15px 0 -7px;
}

button,
a {
  cursor: pointer;
}

#session-links {
  float: right;
  display: flex;
  gap: 15px;
  font-family: Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#session-links .session-link a {
  font-family: Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  border: 2px solid white;
  color: white;
  border-radius: 4px;
  padding: 10px 12px;
  margin: 10px 0 0;
}

#session-links .signupButton a {
  background-color: #e34234;
  border: 2px solid #e34234;
}

#session-links.business-show a {
  color: black;
  border: 1px solid #ccc;
}

#session-links.business-show a.signupButton {
  color: white;
}
