#profile-menu-button > div {
  margin-top: -5px;
}

.profile-image-container {
  border: 1px solid rgba(241, 241, 241, 0.1);
  background-color: rgba(241, 241, 241, 0.1);
  border-radius: 50px;
}

.profile-dropdown {
  position: absolute;
  background-color: white;
  margin-top: 2px;
  padding: 5px;
  min-width: 180px;
  line-height: 1.7;
  border-radius: 5px;
  right: 46px;
}

.profile-dropdown-row {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 8px;
  border-radius: 4px;
}

.profile-dropdown-row:hover {
  background-color: #e5e5e5;
}

.profile-icon {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.profile-icon img {
  height: 30px;
}

.profile-dropdown p {
  color: black;
  margin: 3px 10px;
  font-weight: 500;
}

.profile-menu-seperator-top {
  border-bottom: 1px solid #cdcdcd;
}

.profile-menu-seperator-bottom {
  padding: 6px 0 3px;
}

.profile-dropdown-option {
  display: flex;
  align-items: center;
  margin-bottom: -3px;
  font-size: 18px;
}

/* .second-row {
  margin-
} */
