/* .profile-picture {
  width: 10px;
} */
.profile-dropdown {
  position: fixed;
  background-color: white;
  padding: 10px 20px;
  min-width: 180px;
  line-height: 1.7;
  border-radius: 3px;
}

/* .profile-dropdown li {
} */

.profile-menu-seperator-top {
  padding: 8px 0;
  border-bottom: 1px solid #cdcdcd;
}

.profile-menu-seperator-bottom {
  padding: 8px 0;
  /* border-bottom: 1px solid #cdcdcd; */
}
