#profile-menu-button button {
  border-radius: 50px;
}

.profile-dropdown {
  position: absolute;
  background-color: white;
  padding: 25px;
  min-width: 180px;
  line-height: 1.7;
  border-radius: 5px;
  right: 46px;
  /* float right; */
}

.first-row {
  display: flex;
  align-items: center;
}

.profile-icon {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.profile-icon img {
  height: 30px;
}

.profile-dropdown p {
  color: black;
  margin: 3px 10px;
  font-weight: 500;
}

.profile-menu-seperator-top {
  padding: 8px 0;
  border-bottom: 1px solid #cdcdcd;
}

.profile-menu-seperator-bottom {
  padding: 8px 0;
  /* border-bottom: 1px solid #cdcdcd; */
}

.profile-dropdown-option {
  display: flex;
  align-items: center;
  margin-bottom: -3px;
  font-size: 18px;
}

.logout-button {
  margin: 10px 0 5px;
}
